body {
  background-color: rgb(104, 170, 170);
  font-family: monospace;
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.window {
  position: absolute;
  z-index: 9;
  top: 40px;
  min-width: 400px;
  background-color: rgb(189, 189, 189);
  padding: 2px;
  border-left: 2px solid rgb(239, 239, 239);
  border-top: 2px solid rgb(239, 239, 239);
  border-right: 2px solid rgb(120, 120, 120);
  border-bottom: 2px solid rgb(120, 120, 120);
  user-select: none;
  letter-spacing: -0.5px;
}

@media (max-width: 500px) {
  .window {
    min-width: 95vw;
  }
}

img {
  width: 35px;
}

.window-banner {
  z-index: 10;
  cursor: move;
  background-color: rgb(12, 12, 123);
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2px;
  font-weight: bold;
  margin-bottom: 5px;
}

.window-banner-close {
  cursor: not-allowed;
  width: 15px;
}

.window-banner-close > span {
  display: block;
}

.window-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 10px;
}

.image-wrapper {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.content-prompt {
  padding-bottom: 10px;
  display: block;
}

.radio-btn-wrapper {
  width: 80%;
}

.underline {
  text-decoration: underline;
}

input {
  cursor: pointer;
}

button {
  margin-top: 10px;
  width: 30%;
  padding: 5px 0;
  border-left: 2px solid rgb(239, 239, 239);
  border-top: 2px solid rgb(239, 239, 239);
  border-right: 2px solid rgb(120, 120, 120);
  border-bottom: 2px solid rgb(120, 120, 120);
  font-family: monospace;
  font-size: 1em;
  background-color: rgb(189, 189, 189);
  cursor: pointer;
}

button:focus {
  outline: 0;
  box-shadow: inset 0px 2px rgb(239, 239, 239), inset 2px 0px rgb(239, 239, 239);
  border: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

button:first-of-type {
  box-shadow: inset 0px 2px rgb(239, 239, 239), inset 2px 0px rgb(239, 239, 239);
  border: 1px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}

button:active {
  box-shadow: inset 0px 2px rgb(120, 120, 120),
    inset 2px 0px rgb(120, 120, 120) /*5px 5px black*/;
  border: 1px solid black;
  border-right: 2px solid rgb(239, 239, 239);
  border-bottom: 2px solid rgb(239, 239, 239);
}
